# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.CodingDojo.iml
# Datasource local storage ignored files
/../../../../../../:\Projects\CodingDojo\.idea\.idea.CodingDojo.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
